
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

body {
  min-height: 100vh;
}

.app-container {
  min-height: 100vh;
  background: url("https://res.cloudinary.com/dnml2vs6t/image/upload/v1728448479/MyMiniProjectsImages/pwwr9lyrvunuf3fcw9lf.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-screen-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.main-screen-heading {
  position:absolute;
  top: 7%;
  left: 40%;
  color: gold;
  text-shadow: 10px 10px 30px gold;
}

.question-container {
  order: -1;
}

.question {
    border: 2px solid goldenrod;
    padding: 10px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px gold, -5px -5px 10px gold;
    max-width: 450px;
}
.options-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.option {
  min-height: 48px;
  min-width: 300px;
  margin-top: 10px;
  background-color: rgb(59, 89, 165);
  font-size: 20px;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 20px rgb(59, 89, 165);
}

.player-joined {
  margin-top: 20px;
}

.list-item {
  font-size: 18px;
  font-weight: 600;
}


.enter-name {
  font-size: 24px;
  font-weight: 700;
  color: goldenrod;
  margin-bottom: 20px;
}

.input-container {
  min-width: 300px;
  height: 36px;
  border: 2px solid gold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-text {
  height: 100%;
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  cursor: text;
  padding-left: 10px;
  font-size: 16px;
  color: goldenrod;
}

.join-button {
  width: 40%;
  height: 100%;
  background-color: goldenrod;
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}




.text-msg {
  min-height: 36px;
  min-width: 200px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.is-correct {
  color: #fff;
  background-color: green;
  
}

.is-wrong{
  color: #fff;
  background-color: red;
 
}

.is-gameover {
  color: #fff;
  background-color: rgb(11, 11, 72);
}

.empty {
  display: none;
}

.container {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 80px;
}


@media (max-width:768px) {
  .app-container {
    min-height: 140vh;
    background: url("https://res.cloudinary.com/dnml2vs6t/image/upload/v1728448479/MyMiniProjectsImages/pwwr9lyrvunuf3fcw9lf.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 100vw;
    height: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20;
    margin-top: 100px;
  }

  .mobile-screen-question {
      max-height: 100vw;
      border: 2px solid goldenrod;
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: 5px 5px 10px gold, -5px -5px 10px gold;
  }
  
  .mobile-option {

    min-height: 36px;
    min-width: 200px;
    margin-top: 10px;
    background-color: rgb(59, 89, 165);
    font-size: 18px;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 20px rgb(59, 89, 165);
  
  }

  .main-screen-heading {
    position:relative;
    bottom: 10%;
    left: 0%;
    color: gold;
    text-shadow: 10px 10px 30px gold;
  } 

}